=form_for([@project,@user_story]) do |f|
  =f.label :name, 'Name'
  =f.text_field :name
  =f.label :description, 'Description'
  =f.text_area :description
  =f.label :status, 'Status'
  =f.select :status, @user_story.statuses
  =f.submit
