=form_for([@project,@user_story], :remote => true) do |f|
  =f.label :name, 'Name'
  =f.text_field :name
  =f.label :description, 'Description'
  =f.text_area :description
  =f.label :status_id, 'Status'
  =f.collection_select(:status_id, Status.all, :id, :name)
  =f.label :story_point_id, 'Story Points'
  =f.collection_select(:story_point_id, StoryPoint.all, :id, :value, :include_blank => '?' )
  =f.submit
