%h2= @project.name
=link_to 'New User Story', new_project_user_story_path(@project), :remote => true, :id => 'new_user_story'

%div#board
  %section.handler
    %h3 Backlog
  %section#backlog
    %h3 << Backlog
    %ul
      =render @user_stories.backlog
  %section#todo
    %h3 To Do
    %ul
      =render @user_stories.todo
  %section#doing
    %h3 Doing
    %ul
      =render @user_stories.doing
  %section#validating
    %h3 Validating
    %ul
      =render @user_stories.validating
  %section#done
    %h3 Done
    %ul
      =render @user_stories.done
  %section.handler
    %h3 Archived
  %section#archived
    %h3 Archived >>
    %ul
      =render @user_stories.archived

%div#form
