%section#backlog
  %h3 Project Backlog
  %ul.drag_user_stories
    =render @user_stories
  =link_to 'New User Story', new_project_user_story_path(@project), :remote => true, :id => 'new_user_story', :class => 'button'
%section#release_plans
  %h3 Release Plans
  %ul
    =render @release_plans
  =link_to 'New Release Plan', new_project_release_plan_path(@project), :class => 'button'
%div#form
