%div#board
  %section.handler
    %h3 Backlog
  %section#backlog
    %h3 Backlog
    %ul{ 'data-update-url' => update_status_project_user_stories_path(@project, :status => nil), :class => 'drag_user_stories'}
      =render @user_stories_backlog
  - @statuses.each do |status|
    %section{ :id => status.identification }
      %h3= status.name
      %ul{ 'data-update-url' => update_status_project_user_stories_path(@project, :status => status.id), :class => 'drag_user_stories'}
        =render :partial => 'user_stories/user_story', :collection => @user_stories.by_status(status.id)
  
