$section_height: 600px
div#board
  position: relative
  overflow: hidden
  border-top: 2px solid #ccc
  border-bottom: 2px solid #ccc
  margin: 0 -10px 
  section
    margin: 0
    overflow: hidden
    width: (100%/5)
    float: left
    border-right: 1px dashed #ccc
    box-sizing: border-box
    background-color: #fff
    padding: 10px
    &#backlog
      h3
        cursor: pointer
        &:before
          content: '<< '
    &#done
      border-right: none
    &.active
      background-color: #FCF7D9
    &.expanded
      width: (98%/4)
    &.handler
      display: none
      min-height: $section_height
      width: 2%
      background: #f2f2f2
      cursor: pointer
      &:hover
        background: #e2e2e2
      h3
        margin-top: ($section_height/3)
        word-wrap: break-word
        text-transform: uppercase
        margin-left: -2px
        font-size: 80%
        color: #666
        border: none
        span
          display: none
      ul li
        display: none
    ul
      min-height: $section_height
      li.user_stories
        width: auto
        float: none
