=form_for ([@project, @release_plan]) do |f|
  %div
    =f.label :name, 'Name'
    =f.text_field :name
  %div
    =f.label :description, 'Description'
    =f.text_area :description
  %div
    =f.label :start_date, 'Start Date'
    =f.text_field :start_date, :size => '10'
  %div
    =f.label :end_date, 'End Date'
    =f.text_field :end_date, :size => '10'
  %div
    =f.submit :class => 'button'
