%h3= @release_plan.name
%div#backlog
  %h4 Backlog
  %ul
    = render @user_stories
%div#iterations
  %h4 Iterations
  =link_to 'New Iteration', new_project_release_plan_iteration_path(@project,@release_plan)
  %ul
    - @iterations.each_with_index do |iteration, i|
      %li= "#{(i+1).ordinalize} Iteration"
  
