%section#backlog
  %h3 Release Plan Backlog
  %ul{ 'data-update-url' => update_iteration_project_user_stories_path(@project, :iteration => nil), :class => 'drag_user_stories'}
    = render @user_stories_backlog
%section#iterations
  %h3 Iterations
  %ul
    =render @iterations
  %div.new_item
    =link_to 'New Iteration', new_project_release_plan_iteration_path(@project,@release_plan), :class => 'button'
